@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --text_color: #ffffff;
  --high_text_color: #7883DD;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'baloo 2' ,cursive
}
.wrapper{
  display: flex;
  position: fixed;
  align-items: center;
  max-width: 50px;    
  min-width: 50px;    
  left: 50% ;
  bottom: 15px;
}
body {background-color: #1A1B2F;}
.wrapper nav{
  border-radius: 50%;
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  position: relative;
  width: 100%;
  height: 50px;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #CCD6E0;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .menu-icon{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  line-height: 70px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%); 
}
.wrapper .menu-icon{
  display: none;
}
.wrapper input[type="checkbox"]{
  display: none;
}
.content .links ul{
  position: absolute;
  background: #FFFFFF;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */


@media screen and (max-width: 10900px){
  .wrapper .menu-icon{
    display: block;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s;
  }
  .wrapper .menu-icon::hover{
     font-size: larger;
    }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d"; 
  }
  nav .content .links{
    display: block;
    opacity: -10%;
    position: fixed;
    background:#1A1B2F;
    height: 75%;
    width: 70%;
    right: -100%;
    max-width: 700px;
    top: 50%; 
    transform: translate(-50%,-50%); 
    margin-left: 0;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  nav #show-menu:checked ~ .content .links{
    opacity: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); 
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .content::-webkit-scrollbar-button{
    width: 10px;
    height: 100px;
    color: #1e90ff;
  }
  nav #show-menu:checked ~ html{
    filter: blur(5px);
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items-1:checked ~ .cl1,
  .content .links #show-items-2:checked ~ .cl2,
  .content .links #show-items-3:checked ~ .cl3,
  .content .links #show-items-4:checked ~ .cl4,
  .content .links #show-items-5:checked ~ .cl5,
  .content .links #show-items-6:checked ~ .cl6,
  .content .links #show-items-7:checked ~ .cl7
  {
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.5s ;
  }
  
}
